
body {
  margin: 0px;
  padding: 0px;
}

.game {
  max-width: 710px;
  margin-left: 25%;
  /* max-width: 900px; */
}

.hint:hover, .submit:hover {
  background-color: rgba(255,200,200,0.8);
}

.card {
  width: 125px;
  height: 210px;
  border: 1px solid black;
  border-radius: 20px;
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  margin-top: 3px;
}

.card:hover {
  background-color: rgba(200, 200, 200, 0.1);
  box-shadow: rgba(200, 200, 200, 0.8) 3px 2px;
}

.card.selected {
  background-color: rgba(200, 200, 200, 0.3);
}

.inner {
  background-repeat-x: no-repeat;
  background-origin: content-box;
  background-clip: content-box;
  height: 100%;
  width: 100%;
  background-size: 100% 70px;
}

.three {
  padding: 0px;
  height: 100%;
}

.two {
  padding: 35px 0px;
  height: 140px;
}

.one {
  padding: 70px 0px;
  height: 70px;

}

.card.last-card {
  background-color: rgba(124,96,100,0.5);
}

.card.last-card:hover {
  background-color: rgba(124,96,100,0.2);
}

.card.last-card.selected {
  background-color: rgba(124,96,100,0.7);
}

.hint, .submit {
  width: 75px;
  height: 75px;
  border-radius: 20px;
  line-height: 75px;
  font-family: monospace;
  font-size: 20px;
  background-color: rgba(0, 220, 255, 0.3);
  text-align: center;
  color: white;
  position: fixed;
  top: 55%;
  left: 5%;
}

.submit {
  background-color: rgba(220, 0, 255, 0.3);
  position: fixed;
  left: 12%;
}


.cards-left {
  position: fixed;
  top: 35%;
  left: 4%;
  text-align: center;
  font-size: 26px;
  font-family: monospace;
  background-color: rgba(125,65,130,0.3);
  padding: 10px;
  border-radius: 40px;
}

.cards-left-num {
  font-size: 40px;
}

